streamlit==1.46.1
browser-use
playwright==1.53.0
deep-translator==1.11.4
SpeechRecognition==3.14.3
pyttsx3==2.99
python-dotenv==1.1.1
gTTS==2.5.4
langchain-openai==0.3.28
langchain-google-genai==2.1.8
pdfplumber==0.11.7
pypdf==5.9.0